APP_ENV=local
HTTP_ADDR=:8080

POSTGRES_DB=identity_db
POSTGRES_USER=identity_user
POSTGRES_PASSWORD=identity_password

DATABASE_URL=postgres://identity_user:identity_password@postgres:5432/identity_db?sslmode=disable

JWT_SECRET=dev-secret-change-me
REDIS_ADDR=redis:6379